@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Open+Sans|Poppins|Source+Sans+Pro&display=swap');
html {
    color: white;
    font-family: "Lora", Calibri, sans-serif;
    margin: 0px;
    background-color: #333333;
	padding: 5px;
    font-family: "Poppins", Calibri, sans-serif;
	text-align: center;
	background: url("bgimage.png") no-repeat center center fixed; webkit-background-size: cover; moz-background-size: cover; o-background-size: cover; background-size: cover;
}
	
h1 {
    font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 17px;
}

div.index {
	padding-top: 100px;
	padding-bottom: 100px;
}

div.index img.logo-big {
	height: 250px
}

div.separator {
	height: 1;
	border-top: 2px solid #bfbfbf;
	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: 50px;
	margin-right: 50px;
}

div.section {
	padding-left: 50px;
	padding-right: 50px;
}

div.footer {
	width: 100%;
	height: 50vh;
}

div.video {
	padding: 25px;
	border: 2px solid #bfbfbf;
	width: 610px;
	margin: 0 auto;
	border-radius: 1em;
	background: url("bgimage2.png") no-repeat center center fixed; webkit-background-size: cover; moz-background-size: cover; o-background-size: cover; background-size: cover;
}

a.youtube {
	font-size: 15px;
	text-decoration: none;
}

a.channel {
	text-decoration: none;
}

a {
	color: #c8ffff;
	text-decoration: none;
}
iframe.youtube {
	border: 2px solid #bfbfbf;
	border-radius: 1em;
}