@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html {
	color: white;
	font-family: "Poppins", Calibri, sans-serif;
	margin: 0px;
	background-color: #333333;
	padding: 5px;
	text-align: center;
	background: url("bgimage.png") no-repeat center center fixed; webkit-background-size: cover; moz-background-size: cover; o-background-size: cover; background-size: cover;
	scroll-behavior: smooth;
}

body.techlaunch {
	overflow: hidden;
}
	
h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 17px;
}

div.index {
	padding-top: 30vh;
	height: 70vh;
}

div.index img.logo-big {
	height: 250px
}

@media (max-height: 600px) {
	div.index {
		height: initial;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

div.separator {
	height: 1;
	border-top: 2px solid #bfbfbf;
	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: 50px;
	margin-right: 50px;
}

div.section100 {
	min-height: 100vh;
}

div.footer {
	width: 100%;
	padding-top: 250px;
}

div.video {
	padding: 25px;
	border: 2px solid #bfbfbf;
	width: 610px;
	margin: 50px auto;
	border-radius: 1em;
	background: url("bgimage2.png") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; o-background-size: cover; background-size: cover;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

div.video:hover {
	border: 2px solid white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.youtube {
	font-size: 15px;
	text-decoration: none;
}

a.channel {
	text-decoration: none;
}

a {
	color: #c8ffff;
	text-decoration: none;
}

iframe.youtube {
	border: 2px solid #bfbfbf;
	border-radius: 1em;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

iframe.youtube:hover {
	border: 2px solid white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button.up {
	display: none;
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: dodgerblue; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding-top: 15px; /* Some padding */
	padding-bottom: 15px; /* Some padding */
	padding-left: 25px; /* Some padding */
	padding-right: 25px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

button.up:hover {
	background-color: royalblue; /* Add a dark-grey background on hover */
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.button {
	border: none;
	outline: none;
	background-color: dodgerblue;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	font-family: poppins;
}

a.button:hover {
	background-color: royalblue;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.search {
	margin: 0 auto;
	height: 39px;
	width: 500px;
	border: 2px solid #bfbfbf;
	border-radius: 1em;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

div.search:hover {
	border: 2px solid white;
}

div.search iframe {
	border: none;
	height: 39px;
	width: 500px;
	border-radius: 1em;
}

.outer {
  display: table;
  height: 100vh;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

img.logo-big {
	height: 250px
}

iframe.techlaunch {
	height: 75vh;
	width: 100%;
	border: 2px solid #bfbfbf;
	border-radius: 1em;
	max-width: 1080px;
}

@media (max-width: 700px) {
	iframe.youtube {
		display: none;
	}
	
	div.section100 {
		text-align: center;
	}
	
	div.video {
		width: initial;
	}
	
	iframe.techlaunch {
	height: 75vh;
	width: 100%;
	}
}

